<h1>My Tasks</h1>

<ul>
  <% @tasks.each do |task| %>
  <li><%= "Done:#{task.completed == true ? "[x]" : "[ ]"}" %> <%= link_to "#{task.title}", task_path(task)%>
    <p><%= link_to "Delete",
            task_path(task),
            method: :delete,
            data: { confirm: "Are you sure?" } %></p>
  </li>
  <% end %>
</ul>

<%= link_to "Create A New Task", new_task_path %>
